{% extends "layout.html" %}

{% block content %}

    <div class="wrapper">
	<h3>About:<h3>
<br />
        <p> This webpage was created as a test applciation for my AWS studying.
		It is on a EC2 instance at the moment running as a monolith. It is a Flask app on and Apache server with a mysql database for the fortunes. 
	</p>
<br />
<br />
	<p>
		You are also able to submit a fortune to be added to the website. Feel free to add as many as you like. Please allow up to 2 days for approval.
	</p>       
        
    </div>
{% endblock %}
